@import "tailwindcss";
* {
    box-sizing: border-box;
}

nav{
    background-color: #bb3910;
    color: white;
}

.blog{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width:90%;
}